.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .title-icon {
    background-image: url('sprite.png');
    background-position: 0 0;
    width: 16px;
    height: 16px;
  }
  
  #title {
    position: relative;
  }#title:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-position: -16px 0;
  }